/******************
     Web Fonts
************************/

@font-face {
    font-family: 'clear_sansregular';
    src: url('../fonts/ClearSans-Regular-webfont.eot');
    src: url('../fonts/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ClearSans-Regular-webfont.woff') format('woff'),
        url('../fonts/ClearSans-Regular-webfont.ttf') format('truetype'),
        url('../fonts/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'clear_sansregular', sans-serif;
}

a,
a:visited {
    text-decoration: none;
    color: #4F4F52;
}

/******************
     Header
************************/

header {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.banner {
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;
}

.sort {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    border-bottom: 2px solid rgba(226, 227, 235, 0.8);
    border-top: 2px solid rgba(226, 227, 235, 0.8);
}

.sort p {
    display: inline-block;
}


.move {
    width: 25px;
    vertical-align: middle;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.text_show {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.text_showed {
    -webkit-transform: translate(0 -200px); /* Chrome, Safari, Opera */
    transform: translate(0, -200px);
    opacity: 0;
}

.moved {
    -webkit-transform: rotate(220deg); /* Chrome, Safari, Opera */
    transform: rotate(220deg);
}

.sort_link {
    padding: 5px;
    margin-left: 10px;
    height: 50px;
    width: 20px;
}


/******************
     Section
************************/

h4 {
    text-align: center
}

.gallery {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.gallery_item {
    margin: 0;
    max-width: 50%;
    flex: 1 50%;
    box-sizing: border-box;    
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.img_div {
    margin: 5px 5px;
    max-height: 280px;
    overflow: hidden;
}


.img_div img {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
    width: 100%;
}


.pics {
    -webkit-transition-delay: 0.3s; /* Safari */
    transition-delay: 0.3s;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}


/******************
     POPup
************************/
.popup_mask {
    overflow: hidden;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: table;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;

}

.popup_container {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.popup_img_div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_link {
    box-sizing: border-box;   
    flex: 1 80%;
    height: 90vmin;
}

.img_link_img {
    max-width: 100%;
    max-height: 100%;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -webkit-transition-delay: 0.3s; /* Safari */
    transition-delay: 0.3s;
    opacity: 0;
}

.arrows {
    opacity: 0.5;
    flex: 1 10%;
}

.arrows img {
    vertical-align: middle;
    max-width: 6.5vmax;
}

.popup_details {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 20px;
    padding-top: 15px;
    color: rgba(246, 247, 255, 0.75);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.details_show {
    bottom: 0;
}

.details_no {
    bottom: -500px;
}

.popup_details p {
    margin: 0;
}

.close_btn {
    position: absolute;
    top: 0;
    right: 0;
}

.close_btn a img {
    width: 3.5vmax;
    padding: 1em;
}

.popup-enter, .popup-leave {
    opacity: 0;
}

.popup-enter .popup_container,
.popup-leave .popup_container {
    -webkit-transform: scale(.1);
    transform: scale(.1);
}

/******************
     Media for page
************************/

@media screen and (max-width: 990px) { 
    .text {
        margin-left: 15px;
        margin-right: 15px;
    }
}


@media screen and (max-width: 740px) {
    header {
        height: 200px;
    }
    .popup-details {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .text_close {
        font-size: 0.5em;
    }
}

@media screen and (max-width: 550px) { 
    .gallery_item {
        max-width: 100%;
        flex: 1 100%;
    }
}


@media screen and (max-width: 490px) { 
    .popup-details p {
        font-size: 0.8em;
    }

}

.lazyloaded {
    opacity: 1;
}