/******************
     Web Fonts
************************/

@font-face {
    font-family: 'clear_sansregular';
    src: url('../fonts/ClearSans-Regular-webfont.eot');
    src: url('../fonts/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ClearSans-Regular-webfont.woff') format('woff'),
        url('../fonts/ClearSans-Regular-webfont.ttf') format('truetype'),
        url('../fonts/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'clear_sansregular', sans-serif;
}

/******************
     Header
************************/

header {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.banner {
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;
}

.sort {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
    border-bottom: 2px solid rgba(226, 227, 235, 0.8);
    border-top: 2px solid rgba(226, 227, 235, 0.8);
}

.move {
    width: 25px;
    vertical-align: middle;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.text_show {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.text_showed {
    transform:translate(0,-100px);
    opacity: 0;
}

.moved {
    -webkit-transform: rotate(220deg); /* Chrome, Safari, Opera */
    transform: rotate(220deg);
}

.sort_link {
    padding: 5px;
    margin-left: 10px;
    height: 50px;
    width: 20px;
}


/******************
     Section
************************/

h4 {
    text-align: center
}

.gallery {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.gallery_item {
    max-width: 50%;
    flex: 1 50%;
    box-sizing: border-box;    
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.img_div {
    margin: 5px 5px;
    max-height: 280px;
    overflow: hidden;
}


.img_div img {
    width: 100%;
}


.pics {
    -webkit-transition-delay: 0.3s; /* Safari */
    transition-delay: 0.3s;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
}
